*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader{
    width: 100%;
    height: 100dvh;
    background-color: #032541;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    display: none;
}

.load{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loader 0.75s ease infinite;
}
.load::after{
    content: '';
    display: block;
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-top-color: #18B7D9;
    border-radius: 50%;
    
}
@keyframes loader{
    from{
        transform: rotate(0turn);
    }
    from{
        transform: rotate(1turn);
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
    background-color: #032541;
    color: white;
    align-items: center;
}
nav .webname h1 {
    color: transparent;
    background: linear-gradient(to left , #89CCA4, #18B7D9);
    background-clip: text;
    font-weight: 600;
    font-size: 1.8rem;
}
.webname  a{
    color: transparent;
    text-decoration: none;
}
nav ul{
    align-items: center;
    text-align: center;
    display: flex;
}
nav ul li{
    margin: 0 5px;
    list-style-type: none;
}
nav ul li a{
    padding: 10px 15px;
    font-size:1.2rem ;
   text-decoration: none;
    color: white;
}
.search_section{
    padding: 40px 40px 80px 40px;
    display: grid;
    grid-template-columns: repeat(1, afr);
    color: white;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin:border-box;
}

/* .search_section::before{
    content: '';
    background-color: #14456da8;
    height: 100%;
    width: 100%;
    position: absolute;
} */
.search_section img{
    position: absolut;
    width: 100%;
    height: 100%;
}
.search_section .title{
    margin-top:1rem ;
    margin-bottom:1rem ;
}
.search_section .title h1{
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
}
.search_section .title h2{
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}
.search_bar{
    margin-top: 2rem;
    position: relative;
}
.search_bar input{
    align-items: center;
    padding: 0 90px 0 20px;
    width: 100%;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 2rem;
    color: grey;
    border: 1px solid  #18B7D9;
}
.search_bar button{
    top: 1px;
    bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    right: 0;
    border-radius: 2rem;
    padding: 5px 20px;
    border: transparent;
    color: white;
    background-color: #18CEB5;
    position: absolute;   
}
.search_bar button:hover{
color: #032541;
}
.search_bar input:focus{
    outline: none;
}

.trending .trending_title{
    display: flex;
    margin: 0 2rem;
    align-items: center;
}
.trending_title h3{
    padding: 20px;
    font-size: 1.5rem;
}

.trending_scroll{
    padding: 16px;
    overflow-x: scroll;
    display: flex;
   
}
 .card{
    width: 168px;
    border-radius: 5px;
    height: inherit;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    align-self: start;
    transition: transform 0.3s ease-in-out;
    
}
.trending_main {
    display: flex;
    justify-content: center;
    align-items: end;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%), url('./card_bg.png');
    background-size: 60px 200px;
    background-repeat: repeat-x;
    background-position: bottom;
    
}
.trending_scroll .card:hover{
    transform: scale(1.1);
    
    }
   

.trending_scroll .card img{
    user-select: none; /* Prevents selection of the image */
    pointer-events: none;
    height: 220px;
    border-radius: 5px;
}
/*for popular card*/
.Popular_scrolling{
    padding: 20px 0 0 0;
    overflow-x: scroll;
    display: flex;
}
.Popular_scrolling .card{
    width: 168px;
    border-radius: 5px;
    height: inherit;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    align-self: start;
    transition: transform 0.3s ease-in-out;
    
}
.Popular_scrolling .card:hover{
    transform: scale(1.1);
    }
   

.Popular_scrolling .card img{
    user-select: none; /* Prevents selection of the image */
    pointer-events: none;
    z-index: 2;
    height: 220px;
    border-radius: 5px;
}
/*for popular card*/
.Upcoming_scroll{
    padding: 16px;
    overflow-x: scroll;
    display: flex;
}
.Upcoming_scroll .card{
    width: 168px;
    border-radius: 5px;
    height: inherit;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    align-self: start;
    transition: transform 0.3s ease-in-out;
    
}
.Upcoming_scroll .card:hover{
    transform: scale(1.1);
    }
   

.Upcoming_scroll .card img{
    user-select: none; /* Prevents selection of the image */
    pointer-events: none;
    height: 220px;
    border-radius: 5px;
} 

/*end */

.card img:hover{
  
    filter: brightness(120%);
}
.ratting{
    margin-left: 57px;
    padding: 5px;
    border-radius: 50%;
    margin-top: -25px;
   align-items: center;
   text-align: center;
   width: fit-content;
    color: white;
    background-color: #032541;
    position: absolute;
    /* font-weight: 600; */
    border: 1px solid #18B7D9;
}
.title_poster{
    margin-top: 0.3rem;
}
.title_poster:hover{
    color: #18B7D9;
}
.card_titile{
    text-align: center;
    padding: 5px;
}
.card_titile h4{
    word-wrap: break-word;
   text-align: start;
    text-align: center;
    overflow-wrap: break-word;
}

.card_titile h5{
    word-wrap: break-word;
   text-align: start;
    text-align: center;
    overflow-wrap: break-word;
    color: grey;
  
}
.trending_scroll::-webkit-scrollbar{
 background-color: white;
 height: 5px;
}
.trending_scroll::-webkit-scrollbar-track{
 background-color: white;

}
.trending_scroll::-webkit-scrollbar-thumb{
 background-color: #599acf88;
 border-radius: 20px;

}
.Popular_scrolling::-webkit-scrollbar{
 background-color: white;
 height: 5px;
}
.Popular_scrolling::-webkit-scrollbar-track{
 background-color: white;

}
.Popular_scrolling::-webkit-scrollbar-thumb{
 background-color: #599acf88;
 border-radius: 20px;

}
.Upcoming_scroll::-webkit-scrollbar{
 background-color: white;
 height: 5px;
}
.Upcoming_scroll::-webkit-scrollbar-track{
 background-color: white;

}
.Upcoming_scroll::-webkit-scrollbar-thumb{
 background-color: #599acf88;
 border-radius: 20px;

}

.Latest_Trailers{
    padding:  30px 10px 0 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.Latest_Trailers .trailer_title{
    margin: 0 2rem;
}
.trailer_yt{
    overflow-x: scroll;
    display: flex;
    gap: 1.3rem;
    padding: 1rem;
}
.trailer_yt::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
   }
   .trailer_yt::-webkit-scrollbar-track{
    background-color: transparent;
   
   }
   .trailer_yt::-webkit-scrollbar-thumb{
    background-color: #032541;
    border-radius: 20px;
   
   }
.trailer_video{
width: 300px;
align-self: start;
display: grid;
align-items: center;
border-radius: 15px;
cursor: pointer;
transition: all 0.3s ease;
}
.trailer_video h1{
    padding: 10px ;
    margin: 0 auto;
    font-weight: 500;
}
.trailer_video:hover{
    transform: scale(1.06);

    
}
.trailer_video img{
    max-width: 300px;
    border-radius: 15px;

}

 .close , .close_me{
    margin: 0.2rem;
padding: 10px 15px;
font-size: 1rem;
border-radius: 15px;
border: none;
outline: none;
background-color: rgb(10, 10, 10);
border:2px solid #032541;
color: white;
cursor: pointer;
}
 .close:hover , .close_me:hover{
    background-color: #032541;
}

.outer-card{
    display: none;
    background-color: rgba(128, 128, 128, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}
.inner_info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(0, 0, 0, 0.589);
    height: 100%;
    width: 100%;
}
.inner{
    /* width: fit-content;
    height: fit-content; */
    background-color: black;
}
.i_left h1{
    font-size: 1.2rem;
    color: white;
}
.iframe_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.2rem;
}
.iframe_video{
    height: fit-content;
    width: fit-content;
}
.iframe_video iframe{
    color: white;
    width: 50vw;
    height: 50vh;
}
.card_info{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card_outer{
    position: relative;
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.card_inner{
    position: absolute;
    padding: 1rem;
    margin: 1rem;
    border-radius:5px;
    background-color: #f2f2f2;
    max-width: 700px;
    min-width: 300px;
    height: fit-content;
}
.card_btn{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 0.5rem;
}
.card_detailes{
    height: fit-content;
    display: flex;
    align-self: start;
    
}
.card_img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px ;
    height: 100%;
    width: 40%;
}
.card_img img{ 
    border-radius: 5px;
    width: 100%;
    height: 270px;
   
}
.card_title{
    border-radius: 5px;
    margin-top: 0.5rem;
    width: 60%;
    padding: 1rem ;
    text-align: center;
}
.card_title h3{
    font-size: 1.5rem;
}
.card_title h3:hover{
color: black;
}
.card_title span{
    font-size: 1.2rem;
    text-align: center;
}

.footer{
    position: static;
    padding: 30px;
    background-color: #032541;
    color: white;
    width: 100%;
    height: fit-content;
    /* margin-top: 1rem; */
    bottom: 0;
    left: 0;
    font-size: 1.2rem;
    text-align: center;
}
.button_ui{
    
    border: 2px solid #032541;
    display: flex;
    border-radius: 20px;
}
.button_ui .ui-button ,.tren_button , .trend_all{
    transition: all 0.3s linear;
    border-radius: 15px;
    padding: 0.2rem 1rem; 
    cursor: pointer;
    font-size:  1.1rem;
}
.button_ui .active{
    background-color: #032541;
    color: white;
}

/*search section */

.search_card{
    padding: 2rem 0.5rem 2rem 0.5rem;
    background-color: #e0dddd;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    align-self: start;
    gap: 15px;
    overflow-y: hidden;
    height: 70dvh;
    
}
.movie_box{
    max-width: 250px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    align-self: start;
}
.movie_box:hover{
    filter: brightness(130%);
}
.movie_box img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     width:100%;
     height: 100%;
    object-fit: cover; 
    align-self: start;   
}
.s_title{
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.s_title h4{
    word-wrap: break-word;
   text-align: start;
    text-align: center;
    overflow-wrap: break-word;
}

.s_title h5{
    word-wrap: break-word;
   text-align: start;
    text-align: center;
    overflow-wrap: break-word;
    color: grey;
  
}



@media screen and (max-width : 980px) {
    
    .iframe_video iframe{
        width: 90dvw;
        height: 50dvh;
    }
    .iframe_video{
        width: 100%;
        height: 100%;
    }
    .trending .trending_title {
    margin: 0;
    }
    
}
@media screen and (max-width: 767px) {
    nav{
    padding: 1.2rem 1rem;
    }
    .trending_scroll{
        gap: 0;
    } 
    
    
}
@media screen and (max-width: 600px) {
    
    .tiles ul li a{
        padding: 0 5px 0 0;
    }
   
    .iframe_video iframe{
        width: 100%;
        height: 100%;
    }
    .iframe_video{
        width: 100%;
        height: 100%;
    }
    
    .iframe_title{
        padding: 0 0 0 5px;

    }
    .close_me{
        margin-right: 0;
    }
    .card_detailes{
        display: grid;
        grid-template-rows: repeat(1 , fit-content);
    }
    .card_img{
        width: 60dvw;
        margin-left: auto;
        margin-right: auto;
    }
    
    .card_title{
        overflow-y: scroll;
        /* padding: 0; */
        width: 100%;
        height: 200px;
    }
    .card_title::-webkit-scrollbar{
        background-color: transparent;
        width: 5px;
       }
       .card_title::-webkit-scrollbar-track{
        background-color: transparent;
        background-color: grey;
        border-radius: 10px;
       
       }
       .card_title::-webkit-scrollbar-thumb{
        background-color: #032541;
        border-radius: 10px;
       
       }
       .trending_title h3{
        font-size: 1rem;
       }
      .button_ui .ui-button{
        font-size: 1.1rem;
      }
    
}
@media screen and (max-width: 460px) {
    nav{
    padding: 1.2rem 0rem;
    text-align: center;
    justify-content: center;

    }
    nav .webname h1{
        font-size: 2rem;        
    }
    .tiles ul li a{
            display: none;
    }
    .search_section .title{
        margin-top:0.8rem ;
        margin-bottom:0.8rem ;
    }
    .search_section .title h1{
        font-size: 2em;
        font-weight: 700;
        line-height: 1;
    }
    .search_section .title h2{
        font-size: 1em;
        font-weight: 600;
        margin: 0;
    }
    
.search_bar{
    margin-top: 1rem;
    position: relative;
}
.search_bar input{
    align-items: center;
    padding: 0 90px 0 20px;
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 2rem;
    color: grey;
    border: 1px solid  #18B7D9;
}
.search_bar button{
    top: 1px;
    bottom: 1px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    right: 0;
    border-radius: 2rem;
    padding: 5px 20px;
    border: transparent;
    color: white;
    background-color: #18CEB5;
    position: absolute;   
}
.trending_scroll .card{
margin-left: auto;
margin-right: auto;
}
.trending_scroll{
    gap:10px;
}
.trending_title h3 {
    padding: 20px 10px;
}
.trend_all{
    padding: 0.2rem 1rem;
    font-size: 1rem;
}
}
